.productCard {
    padding-left: 1rem;
    width: 45%;
    // background-color: red;
}

.productName2 {
    color: #032d60;
    font-weight: bolder;
    font-size: 62px!important;
    line-height: 60px!important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.productOverview2 {
    color: #032d60;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 3rem;
}

.overview {
    color: #17f8e1;
    font-weight: bolder;
    font-size: 47px!important;
    line-height: 50px!important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

