.productImage {
width: 120px;
height: 120px;
margin-bottom: 0;
padding-bottom: 0;
border-radius: 50%;
} 




@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%; 
  list-style: none;       
  
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    margin: -($item-size / 2);
  
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}


.circle-container {
    @include on-circle($item-count: 6, $circle-size: 38em, $item-size: 3em); 
    margin: 5em auto 0;
    // border: solid 5px tomato;
    
    .product { 
      display: block; 
      max-width: 100%; 
      border-radius: 50%;
      filter: grayscale(100%);
      // border: solid 5px tomato;
      transition: .15s;
      
      &:hover,
      &:active {
        filter: grayscale(0);
      }
    }
  }

  .productName {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #032d60;
    font-weight: bolder;
    font-size: 12px!important;
    line-height: 20px!important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .productName{
    top: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1.5rem;
    color: #032d60;
    font-weight: bolder;
    font-size: 22px!important;
    line-height: 20px!important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .customer360image {
    height: 250px;
    position: absolute;
    margin-top: -60px;
    margin-left: -35px;
    border-radius: 30%;
  }


  .listItem:hover {
    scale: 0.9;
    transition: 0.5s;
  }


  .listItem {
    scale:0.85
  }

  .transparent-button {
    background-color: #fff;
    border: none;
  }

.textC {
  width: 30%;
  position: absolute;
}

.h1C {
  color: #032d60;
  font-weight: bolder;
  font-size: 42px!important;
  line-height: 60px!important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cust360div {
  position: absolute;
  top: 2%;
  right: 30%;

}
.cust360 {
  color: #000;
  font-weight: bolder;
  font-size: 62px!important;
  line-height: 60px!important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.span360 {
  color: #FFA500
}

.salesImg {
  scale: 1;
  padding-left: 4rem;
}


.button1{
  border: none;
  border-radius: 5%;
  scale: 1.5;
  position: absolute;
  right: 10%;
  top: 5%;
  color: #fff;
    background-color: #FFA500;
    text-transform: uppercase;
    transition: background-color .3s ease;
}
.button1:hover{
  background-color: #032d60
}



.button2{
  border: none;
  border-radius: 5%;
  scale: 1.5;
  position: absolute;
  right: 3%;
  top: 5%;
  color: #fff;
    background-color: #FFA500;
    text-transform: uppercase;
    transition: background-color .3s ease;
}
.button2:hover{
  background-color: #032d60
}




@media only screen and (max-width: 800px) {
  .circle-container {
      @include on-circle($item-count: 10, $circle-size: 25em, $item-size: 6em);
  }
  .customer360image {
    scale: 0.5;
  }
  .productName {
    scale: 0.75;
    line-height: 0px!important;
  }



}




