@media only screen and (max-width: 800px) {
    .cust360div{
        position: absolute;
        display: block;
        clear: both;
        padding-top: 5rem;
        padding-bottom: 10rem;
        padding-left: 5rem;
        scale: 0.65;
    }




  }


  @media only screen and (max-width: 1200px) {
    .button1 {
        padding-right: 5rem;
    }    
  }